* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 32px;
    gap: 16px;
}

.item{
    height: 100px;
    width: 80%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
}

.texto{
    color: rgb(255, 255, 255);
    font-size: 64px;
}

.forma {
    width: 50px;
    height: 50px;
    background-color: rgb(70, 26, 73);
    transition: .5s;
    cursor: pointer;
}

.roxo {
    background-color: rgb(70, 26, 73);
}

.circulo {
    border-radius: 50%;
}

.rosa {
    width: 50px;
    height: 50px;
    background-color: rgb(185, 70, 151);
}

.transparente {
    background-color: rgba(0, 0, 255, 0.068);

}

.rodar{
    width: 50px;
    height: 50px;
    transform: rotate(180deg);

}

.normal{
    width: 50px;
    height: 50px;
}

.grande{
    width: 60px;
    height: 60px;
}


.lado{
transform: translate(-20px);
    
}

.brilhar{
    box-shadow: 0px 0px 16px rgb(255, 0, 179);
}